#form-log{
    margin-top: 200px;
    margin-bottom: 180px;
    position: relative;
}

.form-login{
    border: 1px solid #333;
    width: 95%;
    max-width: 500px;
    margin: auto;
    background:white;
    border-radius: 10px;
}

.btn-entrar{
    background: goldenrod;
    color: #333;
    margin: auto;
    padding: 10px 40px;
    cursor: pointer;
    font-family: 'Benne', serif;
    font-size: 17px;
}

.btn-entrar:active{
    transform: scale(1.05);
}