#perfil{
    margin-top: 100px;
    margin-bottom: 75px;
    position: relative;
}
.form-perfil{
    border: 1px solid #333;
    width: 95%;
    max-width: 500px;
    margin: auto;
    background:white;
    border-radius: 10px;
}

.perfil-title{
    background: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-weight: 100;
    font-size: 30px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 5px solid goldenrod;
}

input{
    margin-bottom: 15px;
    padding: 15px;
    font-size: 1em;
    border: 1px solid #333;
    border-radius: 5px;
}

.contenedor-info-perfil{
    padding: 10px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.input-48{
    width: 48%;
}

.input-100{
    width: 100%;
}

.btn-guardar-perfil{
    background: goldenrod;
    color: #333;
    margin: auto;
    padding: 10px 40px;
    cursor: pointer;
    font-family: 'Benne', serif;
    font-size: 17px;
}

.btn-guardar-perfil:active{
    transform: scale(1.05);
}

.form-link{
    width: 100%;
    margin-top: 10px;
    font-size: 1em;
    text-align: center;
}

#perfil .contenedor-inputs{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.contenedor-info-perfil img{
    width: 180px;
    height: 180px;
    border-radius: 100px;
    border: 7px solid #fff;
}

.contenedor-info-perfil > .imagen-perfil{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}